In [ ]:
#Import Packages

In [1]:
import pandas as pd
import seaborn as sea
import matplotlib.pyplot as plt
import plotly.plotly as py
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
#Import Data

In [18]:
hospital = pd.read_csv('C:\\Users\\student\\Documents\\Senior Year 2018-2019\\Spring 2019\\Capstone\\hospitalofficial.csv')

In [19]:
hospital.head()

,age,sex,race,provider,moa,admtype,asource,drg,payer,tot
0,55,F,White,7210,1,Urgent,Transfer,Mental,Medicaid,29972
1,52,M,White,7210,1,Urgent,Referral,Mental,Medicaid,3932
2,57,F,White,7204,1,Emergency,Referral,Respiratory,Medicaid,25270
3,60,F,White,7204,2,Electric,Referral,Musculoskeletal,Medicare,49060
4,62,M,White,7204,2,Electric,Referral,Digestive,Medicare,19823

In [20]:
#Categorical Variables

In [21]:
hospital['sex'] = hospital['sex'].astype('category')
hospital['race'] = hospital['race'].astype('category')
hospital['provider'] = hospital['provider'].astype('category')
hospital['moa'] = hospital['moa'].astype('category')
hospital['admtype'] = hospital['admtype'].astype('category')
hospital['asource'] = hospital['asource'].astype('category')
hospital['drg'] = hospital['drg'].astype('category')
hospital['payer'] = hospital['payer'].astype('category')

In [22]:
hospital['sex'].dtypes

CategoricalDtype(categories=['F', 'M'], ordered=False)

In [23]:
#Create cost variable to determine if cost is expensive or cheap (expensive is greater than the mean)

In [24]:
#hospital['cost'] = ['cheap' if i<hospital['tot'].mean() else 'expensive' for i in hospital['tot']]

In [25]:
hospital['tot'].mean()

32617.466723058096

In [26]:
#hospital['cost']

In [27]:
dummy_sex = pd.get_dummies(hospital.head(100)['sex'])

In [ ]:
df = pd.concat([hospital.head])

In [ ]:
df1.head(10)

In [28]:
hospital.describe()

                age           tot
count  55564.000000  5.556400e+04
mean      58.741667  3.261747e+04
std       23.137846  3.825432e+04
min        1.000000 -1.966000e+03
25%       45.000000  1.334900e+04
50%       62.000000  2.189650e+04
75%       78.000000  3.726875e+04
max      106.000000  1.896347e+06

In [29]:
hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55564 entries, 0 to 55563
Data columns (total 10 columns):
age         55564 non-null int64
sex         55564 non-null category
race        55564 non-null category
provider    55564 non-null category
moa         55564 non-null category
admtype     55564 non-null category
asource     55564 non-null category
drg         55564 non-null category
payer       55564 non-null category
tot         55564 non-null int64
dtypes: category(8), int64(2)
memory usage: 1.3 MB

In [ ]:
sea.distplot(hospital['age'], hist=True, bins = 10)

In [30]:
X = hospital.drop('tot', axis=1).values
Y = hospital['tot'].values

In [31]:
Y = Y.astype('float64')

In [32]:
X

array([[55, 'F', 'White', ..., 'Transfer', 'Mental', 'Medicaid'],
       [52, 'M', 'White', ..., 'Referral', 'Mental', 'Medicaid'],
       [57, 'F', 'White', ..., 'Referral', 'Respiratory', 'Medicaid'],
       ...,
       [64, 'M', 'White', ..., 'Transfer', 'Mental', 'Medicare'],
       [44, 'F', 'White', ..., 'Transfer', 'Mental', 'Insurance'],
       [29, 'F', 'White', ..., 'Transfer', 'Mental', 'Medicare']],
      dtype=object)

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=25)

In [ ]:
knn= KNeighborsClassifier(n_neighbors=6)
knn.fit()

In [ ]:
sea.barplot(x=hospital['sex'], y=hospital['tot'])

In [ ]:
sea.barplot(x=hospital['provider'], y=hospital['tot'])

In [ ]:
sea.distplot(hospital['provider'], hist=True)